alabaster==0.7.10
asn1crypto==0.22.0
attrs==17.2.0
autobahn==17.9.2
Automat==0.6.0
Babel==2.5.1
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.0.3
docutils==0.13.1
-e git+git@github.com:morissette/eventify.git@251f1ce3c1b5fc0bdfd99e573a9cbc09697dcc28#egg=eventify
hyperlink==17.3.1
idna==2.6
imagesize==0.7.1
incremental==17.5.0
Jinja2==2.9.6
MarkupSafe==1.0
nose==1.3.7
pockets==0.5.1
psycopg2==2.7.3.1
pyasn1==0.2.3
pyasn1-modules==0.1.4
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==17.3.0
pytz==2017.2
requests==2.18.4
service-identity==17.0.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.14
Twisted==17.9.0
txaio==2.8.2
urllib3==1.21.1
zope.interface==4.4.2
